body {
}
.row {
    margin-top: 50px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
}



.card-body h2 {
    font-size: 1.2rem;
    color: #555;
    margin: 10px 0;
}

.card-footer {
    background-color: #f1f1f1;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
}

    .card-footer .btn {
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .card-footer .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
    }

        .card-footer .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

    .card-footer .btn-warning {
        background-color: #ffc107;
        border-color: #ffc107;
        color: black;
    }

        .card-footer .btn-warning:hover {
            background-color: #e0a800;
            border-color: #d39e00;
        }
