﻿@{
    ViewData["Title"] = "Admin Panel";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <a asp-area="Admin" asp-controller="DataManagement" asp-action="Index" class="btn btn-primary btn-lg">Manage Data</a>
    <span> | </span>
    <a asp-area="Admin" asp-controller="UserManagement" asp-action="Index" class="btn btn-primary btn-lg">Manage Users</a>
</div>