<style>
    .navbar-nav{
        padding-left:30px;
        font-size:1.2rem;
    }
    .nav-item{
        padding-right:10px;
    }
</style>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CarListings" asp-action="Index">All Listings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CarListings" asp-action="Add">Add a Listing</a>
    </li>
    
</ul>
